<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet"href="style.css">
            <script scr="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://unpkg.com/vue"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <link rel="manifest" href="afterschoolbooking.webmanifest"></link>
            <script src="app.js" defer></script>
          
           

    </head>

    <body>
        
        <div id="coursesDispaly">
            <h1> courses:</h1>
          
            <div v-for="course in courses" class="course">
                <ul> 
                <li v-for='(value, name) in course'>
                    {{name}}: {{value}}
                </li>


                 </ul>  
            </div>
        </div>

        
        <div class="container">
            <header>
                <img id='logo'src=""alt="logo">
                    <div id='searchbox'>search box</div>
                        <button>Login</button>
                        <button>Registration</button>
            </header>
            <aside>
                <div class="filter">filter</div>
                    <div class="filter">filter</div>
                        <div class="filter">filter</div>
            </aside>
            <main>
                <div class="product">product</div>
                    <div class="product">product</div>
                        <div class="product">product</div>
                            <div class="product">product</div>
                                <div class="product">product</div>
                                    <div class="product">product</div>
            </main>
            </div>
   

   
    <div id="userform">
        <spanv-if='currentUser'>
            {{currentUser}}
            <button @click='signout'>Sign out</button>
                </span>
                <spanv-else>
                    email <input v-model='email'>
                        password <input type='password'v-model='password'>
                            <button v-on:click='signin'>Sign in</button>
                            <input type="radio" id="option1" value="student" v-model="userType"></input>
                            <label for="option1" > Provider</label>
                            <input type="radio" id="option2" value="provider" v-model="userType"></input>
                            <label for="option2" > Provider</label>
                            <button v-on:click='signup'>Sign up</button>
                                    {{userMessage}}
                                    </span>
    </div>

    <script>
            fetch('http://localhost:3000/collections/lessons')
            .then(function(response)
            {
             return response.text()
               }).then(function(text)
               {
                   alert(text);
                   testing.courses = JSON.parse(text);
               }).catch(function(err){
            console.log('Fetch problem: '+err.message);
            });

             
            var testing = new Vue({
                            el: '#coursesDispaly',
                            data: {
            
                                courses: [],
             }})

              </script>




  
    
</body>
</html>